.background-image {
    background-image: url("../../public/img/adam-miller.jpg");
    background-size: cover; 
    background-position: center;
    height:100vh;
    position: relative;

    nav {
        background-color: antiquewhite;
        height: 100px;        
    }

    button { //Hamburger icon
            width: 45px;
            height: 45px;
            background: transparent;
            border: 0;
            position: fixed;
            right: 20px;
            top: 20px;
            z-index: 3;
            pointer-events: none;

            span {
                display: block;
                width: 35px;
                height: 5px;
                background-color: black;
                border-radius: 6px;
                margin-bottom: 4px;
                position: relative;
                left: 0;
                margin-left: 6px;
            }
            
            span:nth-child(2) {
                margin-left: 0;
                transition: all 0.4s ease-in-out;
                background-color: aqua;
    
                &:hover {
                    margin-left: 6px;
                }
            }
    }
}