.background-image {
    background-image: url("../../public/img/adam-miller.jpg");
    background-size: cover; 
    background-position: center;
    height:100vh;
    position: relative;

    nav {
        background-color: antiquewhite;
        height: 100px;

        button { //Hamburger icon
            width: 45px;
            height: 45px;
            background: transparent;
            border: 0;
            position: fixed;
            right: 20px;
            top: 20px;
            z-index: 3;
            pointer-events: none;
        }
        
        button span {
            display: block;
            width: 35px;
            height: 5px;
            background-color: black;
            border-radius: 6px;
            margin-bottom: 4px;
            position: relative;
            left: 0;
            margin-left: 6px;
        }
        
        button span:nth-child(2) {
            margin-left: 0;
            transition: all 0.4s ease-in-out;
        }
        
        input:hover + .menu button span:nth-child(2) {
            left: 6px;
        }
        
        input:checked + .menu nav {
            visibility: visible;
            opacity: 0.8;
            transition: all 0.3s ease-in-out;
        }
    }


}